name: Sync to Hugging Face hub
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # Use force push to ensure the GitHub state overwrites the HF Space state
          git push --force https://Adivio824:$HF_TOKEN@huggingface.co/spaces/Adivio824/sustainability-audit-testing main